@import ./styles/var
@import ./styles/reset
@import ./styles/samolazoff
#root
    display: flex
    flex-direction: column
    min-height: 100vh
.container
    max-width: $xxl
    margin: 0 auto
    padding: 0 20px
.app-main
    flex: 1
    margin-top: 50px
.txt_bold 
    font-weight: 700
.text-confid
    font-size: 10px
.d-none
    display: none !important
.d-flex
    display: flex !important
.title-block
    width: 80%
    margin-bottom: 1em
    border-bottom: 2px solid
    @include text(3em, normal, 600, $primary-color)
    text-transform:  capitalize
.title-page
    width: 25%
    margin-bottom: 1em
    border-bottom: 2px solid
    @include text(4em, normal, 600, $primary-color)
    text-transform:  capitalize
    text-align: center
.btn
    @include flex(row, center, center)
    width: 150px
    padding: 15px 35px
    border-radius: 50px
    background-image: linear-gradient(147deg, $primary-color-light 0%, $primary-color 74%)
    color: $primary-color-txt
    box-shadow: 0px 14px 40px $primary-color-light
    @include text(.9em, normal, 500, $primary-color-txt)
    text-decoration: none
    letter-spacing: 1px
    &:hover
        color: $primary-color-light
        cursor: pointer